.App{
  margin-top: 50px;
}
#Navbar{
  margin-bottom: 0!important;
}
.login{
  margin-right: 500px;
}
.Visual {
  width: auto;
  
}

.VisualList{
padding-bottom: 10px;
}

.VisualDetails{




}
.custom{

}
.v1{
  display: flex;
}
.v5{
  display: flex;
}
.v7{
  display: flex;
}
.v9{
  display: flex;
}