.App{
  margin-top: 50px;
}
#Navbar{
  margin-bottom: 0!important;
}
footer{
  position:fixed;
  margin-left: 10px;
  bottom: 0;
  width: 50%;
  height: 20px;
  background-color: #fff;
}
.navbar{
  background-color: darkblue;

}
.btn{
  background-color: greenyellow;
}
.profile{
  margin-top: 50px;
}